<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(item, index) in arr" :key="index">{{item}}--{{index}}</li>
        </ul>
        <ul>
            <li v-for="(item, key, index) in obj">{{item}}--{{key}}--{{index}}</li>
        </ul>
    </div>
    <script src="./node_modules/vue/dist/vue.min.js"></script>
    <script>

        let vm = new Vue({
            el: '#app',
            data:{
                msg:"v-on绑定事件",
                arr:[1,2,3,4,5,6,7,8],
                obj:{
                    a:'测试字符串1',
                    b:'测试字符串2',
                    c:'测试字符串3',
                    d:'测试字符串4'
                }
            }
        })
    </script>
</body>
</html>