<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- 单向数据绑定，改变value不会影响数据层面的值 -->
        <input type="text" :value="msg">
        <input type="text" :value="msg">
        <br>
        <br>
        <!-- 双向数据绑定, 数据层和视图层的数据可以互相影响 -->
        <input type="text" v-model="msg">
        <input type="text" v-model="msg">
    </div>
    <script src="./node_modules/vue/dist/vue.min.js"></script>
    <script>

        let vm = new Vue({
            el: '#app',
            data:{
                msg:'测试内容'
            }      
        })
    </script>
</body>
</html>